# Cache
__pycache__

# AI
train/
test/
Cat/
Dog/
.data
pytorch/MNIST_DATASET
pytorch/data/archive/
pytorch/data/peter.txt

# 인절미
.idea
identifier.sqlite

# Flask
flaskbook/migrations
local.sqlite
flaskbook/apps/images
flaskbook/apps/detector/model.pt